#####   
# DateTime
 - source: https://www.programiz.com/python-programming/datetime

In [1]:
import datetime  
import pytz

## Current Date & Time

In [2]:
Today = datetime.date.today()
print( Today )

2023-12-12

In [3]:
Now = datetime.datetime.now()
print( Now )

2023-12-12 06:10:30.128847

## date

In [4]:
x = datetime.date.today()
print( x )

2023-12-12

In [5]:
[x.year, x.month, x.day]

[2023, 12, 12]

In [6]:
t1 = datetime.date(year = 2019, month = 3, day = 12)
t2 = datetime.date(year = 2017, month = 7, day = 23)

t3 = t1 - t2
print( t3 )

597 days, 0:00:00

## time

In [7]:
x = datetime.time()
print( x )

00:00:00

In [8]:
x = datetime.time(17, 34, 56)
print( x )

17:34:56

In [9]:
[x.hour, x.minute, x.second]

[17, 34, 56]

## date-time

In [10]:
x = datetime.datetime(2022, 12, 28)
print( x )

2022-12-28 00:00:00

In [11]:
x = datetime.datetime(2022, 12, 28, 23, 55, 59, 342380)
print( x )

2022-12-28 23:55:59.342380

In [12]:
[x.year, x.month, x.day, x.hour, x.minute, x.second]

[2022, 12, 28, 23, 55, 59]

In [13]:
t4 = datetime.datetime(year = 2017, month = 3, day = 12, hour = 7, minute = 19, second = 33)
t5 = datetime.datetime(year = 2019, month = 7, day = 10, hour = 5, minute = 55, second = 13)

t6 = t4-t5
print( t6 )

-850 days, 1:24:20

## time-delta

In [14]:
t1 = datetime.timedelta(weeks = 2, days =   5,   hours = 1, seconds = 33)
t2 = datetime.timedelta( days = 4, hours = 11, minutes = 4, seconds = 54)

t3 = t1 - t2
print( t3 )

14 days, 13:55:39

In [15]:
t3.total_seconds()

1259739.0

## format

In [16]:
now = datetime.datetime.now()
print( now )

2023-12-12 06:10:30.454663

In [17]:
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
print( s1 )

12/12/2023, 06:10:30

In [18]:
s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
print( s2 )

12/12/2023, 06:10:30

## timezone

In [19]:
local = datetime.datetime.now().strftime("%m/%d/%Y, %H:%M:%S")
print( local )

12/12/2023, 06:10:30

In [20]:
tz_NY       = pytz.timezone('America/New_York') 
datetime_NY = datetime.datetime.now(tz_NY).strftime("%m/%d/%Y, %H:%M:%S")
print( datetime_NY )

12/11/2023, 21:40:30

In [21]:
tz_Paris       = pytz.timezone('Europe/Paris') 
datetime_Paris = datetime.datetime.now(tz_Paris).strftime("%m/%d/%Y, %H:%M:%S")
print( datetime_Paris )

12/12/2023, 03:40:30

#####

#####