#  
<span style="font-family:Arial; font-weight:Bold; font-size:2.5em; color:#00b3e5;"> Function, List, Class

#  
<span style="font-family:Arial; font-weight:Bold; font-size:2.3em; color:#29d15e;"> Python Functions
 - **String** 
 - **List**
 - **Nested / Inner**
 - **Lambda**
 - **Math**
 - **Recursive**
 - **Pure**
 - **Boolean**

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:blue;"> Set

In [1]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

print( s1.union(s2)        )
print( s1.intersection(s2) )

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [2]:
s3 = { 10, 20 }
s3.add( 30 )
s3.update([ 40, 50, 60 ])
s3

{10, 20, 30, 40, 50, 60}

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> List

In [3]:
L = ['Rose','Lily','Lily','Rose']
L

['Rose', 'Lily', 'Lily', 'Rose']

In [4]:
L.count('Lily')

2

In [5]:
L.append('Violet')
L

['Rose', 'Lily', 'Lily', 'Rose', 'Violet']

In [6]:
L.sort( reverse=True )
L

['Violet', 'Rose', 'Rose', 'Lily', 'Lily']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> lambda

In [7]:
Cube = lambda x: x**3         # def Cube(x): return x**3
Cube(5)

125

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Recursive

In [8]:
def factorial(a):
    # type check
    if type(a) != int : return None
    # Base
    if a == 0: return 1
    # Recursion
    if a >  0: return a*factorial(a-1)
    if a <  0: return None
factorial(3)

6

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Pure / Impure

In [9]:
def Impure_func(List): 
    del List[0], List[-1]
    return List

A = ['Jasmine','Lily','Rose','Lotus','Violet']
B = Impure_func(A)
print(A)
print(B)

['Lily', 'Rose', 'Lotus']
['Lily', 'Rose', 'Lotus']

In [10]:
def Pure_func(List): 
    return List[1:-1]

A = ['Jasmine','Lily','Rose','Lotus','Violet']
B = Pure_func(A)
print(A)
print(B)

['Jasmine', 'Lily', 'Rose', 'Lotus', 'Violet']
['Lily', 'Rose', 'Lotus']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Boolean

In [11]:
a = 3
b = 0
c = 'A'
d = ''
e = [7]
f = []
g = True
h = False
i = None

print( a, '\t' , bool(a), '\t', b, '\t' , bool(b) )
print( c, '\t' , bool(c), '\t', d, '\t' , bool(d) )
print( e, '\t' , bool(e), '\t', f, '\t' , bool(f) )
print( g, '\t' , bool(g), '\t', h, '\t' , bool(h) )
print(    '\t' ,          '\t', i, '\t' , bool(i) )

3 	 True 	 0 	 False
A 	 True 	  	 False
[7] 	 True 	 [] 	 False
True 	 True 	 False 	 False
	 	 None 	 False

#  
<span style="font-family:Arial; font-weight:Bold; font-size:2.3em; color:#00b3e5;"> Python List
 - **Indexing** 
 - **Slicing**
 - **Conditioning**
 - **Changing Items**
 - **Adding Items**
 - **Removing Items**
 - **Iteration**
 - **Comprehension**
 - **Sort**
 - **Reverse**

In [12]:
x = list()
print( x )

[]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Indexing

In [13]:
x = [0,1,2,3,4,5,6,7]
x[0]

0

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Slicing

In [14]:
x = [0,1,2,3,4,5,6,7]
x[1:-2]

[1, 2, 3, 4, 5]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Conditioning

In [15]:
x = ['Europe','Asia','Australia']
if 'Asia' in x:
    print( 'Asia' )

Asia

In [16]:
x = ['Europe','Asia','Australia']
if 'Africa' not in x:
    print( 'Not Found' )

Not Found

In [17]:
x = ['Europe','Asia','Australia']
if not 'Africa' in x:
    print( 'Not Found' )

Not Found

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Changing

In [18]:
x = ['Europe','Asia','Australia']
x[1] = 'Africa'
x

['Europe', 'Africa', 'Australia']

In [19]:
x = [0,1,2,3,4,5,6,7]
x[2:5] = [200,300,400]
x

[0, 1, 200, 300, 400, 5, 6, 7]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Inserting

In [20]:
x = ['Europe','Asia','Australia']
x.insert(1,'America')
x

['Europe', 'America', 'Asia', 'Australia']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Removing

In [21]:
x = ['Europe', 'America', 'Asia', 'Australia','Europe']
x.remove('Europe')
x

['America', 'Asia', 'Australia', 'Europe']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Extending

In [22]:
A = [ 1, 2, 3  ]
B = [ 'A', 'B' ]
A.extend(B)
A

[1, 2, 3, 'A', 'B']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Appending

In [23]:
x = ['Europe','Asia','Australia']
x.append('America')
x

['Europe', 'Asia', 'Australia', 'America']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Popping

In [24]:
x = ['Europe', 'Asia', 'Australia', 'America']
print( x.pop() )
print( x.pop() )
x

America
Australia

['Europe', 'Asia']

In [25]:
x = ['Europe', 'Asia', 'Australia', 'America']
print( x.pop(1) )
print( x.pop(1) )
x

Asia
Australia

['Europe', 'America']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Clearing

In [26]:
x = ['Europe', 'Asia', 'Australia', 'America']
x.clear()
x

[]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Deleting

In [27]:
x = ['Europe', 'Asia', 'Australia', 'America']
del x

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Iteration

In [28]:
x = [ 'Asia', 'Australia' ]
for i in x:
    print(i)

Asia
Australia

In [29]:
x = [ 'Asia', 'Australia' ]
for i in range(len(x)):
    print(x[i])

Asia
Australia

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> comprehension

In [30]:
x = ['Europe', 'Asia', 'Australia', 'America']
y = list()
for item in x:
    if 's' in item:
        y.append(item)
y

['Asia', 'Australia']

In [31]:
x = ['Europe', 'Asia', 'Australia', 'America']
y = [ i for i in x if 's' in i ]
y

['Asia', 'Australia']

#####

In [32]:
x = [0,1,2,3,4,5,6,7]
y = 2*x
y

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]

In [33]:
x = [0,1,2,3,4,5,6,7]
y = list()
for i in x:
    y.append(2*i)
y

[0, 2, 4, 6, 8, 10, 12, 14]

In [34]:
x = [0,1,2,3,4,5,6,7]
y = [ 2*i for i in x ]
y

[0, 2, 4, 6, 8, 10, 12, 14]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> sort( reverse )

In [35]:
x = [3,0,5,2,7,1,1,3]
x.sort( reverse=True )
x

[7, 5, 3, 3, 2, 1, 1, 0]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> reverse

In [36]:
x = ['Europe', 'Asia', 'Australia', 'America']
x.reverse()
x

['America', 'Australia', 'Asia', 'Europe']

#  
<span style="font-family:Arial; font-weight:Bold; font-size:2.3em; color:#29d15e;"> Python Class
 - **Class** 
 - **Object**
 - **Constructor**
 - **Inheritance**
 - **Inner Class / Nested Class**
 - **Abstract Class**

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Class

In [37]:
class Student:
    pass

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Object

In [38]:
s1 = Student()

s1.id   =  1
s1.name = 'Rose'
s1.dept = 'Content'
s1.fees =  75000

print(s1.id)
print(s1.name)
print(s1.dept)
print(s1.fees)

1
Rose
Content
75000

In [39]:
s2 = Student()

s2.id   =  2
s2.name = 'Lily'
s2.dept = 'Content'
s2.fees =  65000

print(s2.id)
print(s2.name)
print(s2.dept)
print(s2.fees)

2
Lily
Content
65000

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Class & Object Example

In [40]:
class Audi:
    def start(self):
        print("Let's start the car!")
        
a1 = Audi()
a1.start()

Let's start the car!

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Constructor

In [41]:
class Employee:
    def __init__( self, id, salary, bonus ):
        print("Welcome Brave Employee!\nLet's Go!" )
        self.id     = id
        self.salary = salary
        self.bonus  = bonus
        
e1 = Employee( 1001, 50000, 2000 ) 
print( e1.id     )
print( e1.salary )
print( e1.bonus  )

Welcome Brave Employee!
Let's Go!
1001
50000
2000

In [42]:
class Employee:
    def __init__( self, id, salary, bonus ):
        print("Welcome Brave Employee!\nLet's Go!" )
        self.id     = id
        self.salary = salary
        self.bonus  = bonus
    
    def display_details(self):
        print( self.id )
        print( self.salary )
        print( self.bonus )
        
e2 = Employee( 1002, 55000, 3000 ) 
e2.display_details()

Welcome Brave Employee!
Let's Go!
1002
55000
3000

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Inner Class / Nested Class

In [43]:
class Employee:
    def __init__( self, id, salary, bonus ):
        print("Welcome Brave Employee!" )
        self.id       = id
        self.salary   = salary
        self.bonus    = bonus
        self.facility = self.Facility()
    
    def display_details(self):
        print( self.id, self.salary, self.bonus )
        
    class Facility:
        def __init__( self ):
            print('Inner Class Activated')
            self.travel = 20000 
            self.pf     = 5000 
        
        def show( self ):
            print( self.travel, self.pf )
        
e2 = Employee( 1002, 55000, 3000 ) 
e2.display_details()
e2.facility.show()

Welcome Brave Employee!
Inner Class Activated
1002 55000 3000
20000 5000

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Inheritance
 - **Base / Parent / Super Class**
 - **Derived / Child / Sub Class**
<Br><Br>
 - **Single Inheritance**
 - **Multiple Inheritance**
 - **Multilevel Inheritance**

<span style="font-family:Arial; font-weight:Bold; font-size:1.3em; color:#20cc9c;"> Single Inheritance

In [44]:
class Car:
    def x1(self):
        print("Base/Parent/Super Class:  Car")
    
class Audi(Car):
    def x2(self):
        print("Derived/Child/Sub Class:  Audi")
        
a = Audi()
a.x1() 
a.x2()

Base/Parent/Super Class:  Car
Derived/Child/Sub Class:  Audi

<span style="font-family:Arial; font-weight:Bold; font-size:1.3em; color:#20cc9c;"> Multiple Inheritance

In [45]:
class Car:
    def x1(self):
        print("Base/Parent/Super Class:  Car")
        
class Vehicle:
    def x2(self):
        print("Base/Parent/Super Class:  Vehicle")
    
    
class Audi(Car,Vehicle):
    def x3(self):
        print("Derived/Child/Sub Class:  Audi")
        
a = Audi()
a.x1() 
a.x2()
a.x3()

Base/Parent/Super Class:  Car
Base/Parent/Super Class:  Vehicle
Derived/Child/Sub Class:  Audi

<span style="font-family:Arial; font-weight:Bold; font-size:1.3em; color:#20cc9c;"> Multilevel Inheritance

In [46]:
class Car:
    def x1(self):
        print("Base/Parent/Super Class:  Car")
        
class Vehicle:
    def x2(self):
        print("Base/Parent/Super Class:  Vehicle")
    
    
class Audi(Car,Vehicle):
    def x3(self):
        print("Derived/Child/Sub Class:  Audi")
        

class R8(Audi):
    def x4(self):
        print("Derived/Child/Sub Class:  R8")
        
a = R8()
a.x1() 
a.x2()
a.x3()
a.x4()

Base/Parent/Super Class:  Car
Base/Parent/Super Class:  Vehicle
Derived/Child/Sub Class:  Audi
Derived/Child/Sub Class:  R8

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Abstract Class
 - **No Object** can be created from an **abstract class**
 - instead ...
 - **New Classes** can be **Inherited**

In [47]:
from abc import ABC, abstractmethod

class Student(ABC):
    @abstractmethod
    def x1(self):
        pass
    
## s1 = Student()    
## TypeError: Can't instantiate abstract class Student with abstract method x1

class Lily(Student):
    def x1(self,fees):   # x1 has an abstract twin
        self.fees=fees
        print('fees =',self.fees)
    def x2(self,id,dept):
        self.id   = id
        self.dept = dept
        print('id   =',self.id, '\ndept =',self.dept)
        
s2 = Lily()
s2.x1(75000)           
s2.x2(1001,'Science')   
s2.id

fees = 75000
id   = 1001
dept = Science

1001

#####

#####