#  
<span style="font-family:Arial; font-weight:Bold; font-size:2.5em; color:#00b3e5;"> Function, List, Class

#  
<span style="font-family:Arial; font-weight:Bold; font-size:2.3em; color:#29d15e;"> Python Functions
 - **String** 
 - **List**
 - **Nested / Inner**
 - **Lambda**
 - **Math**
 - **Recursive**
 - **Pure**
 - **Boolean**

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> List

In [31]:
L = ['Rose','Lily','Lily','Rose']
L

['Rose', 'Lily', 'Lily', 'Rose']

In [32]:
L.count('Lily')

2

In [33]:
L.append('Violet')
L

['Rose', 'Lily', 'Lily', 'Rose', 'Violet']

In [34]:
L.sort( reverse=True )
L

['Violet', 'Rose', 'Rose', 'Lily', 'Lily']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> lambda

In [39]:
Cube = lambda x: x**3         # def Cube(x): return x**3
Cube(5)

125

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Recursive

In [55]:
def factorial(a):
    # type check
    if type(a) != int : return None
    # Base
    if a == 0: return 1
    # Recursion
    if a >  0: return a*factorial(a-1)
    if a <  0: return None
factorial(3)

6

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Pure / Impure

In [74]:
def Impure_func(List): 
    del List[0], List[-1]
    return List

A = ['Jasmine','Lily','Rose','Lotus','Violet']
B = Impure_func(A)
print(A)
print(B)

['Lily', 'Rose', 'Lotus']
['Lily', 'Rose', 'Lotus']

In [73]:
def Pure_func(List): 
    return List[1:-1]

A = ['Jasmine','Lily','Rose','Lotus','Violet']
B = Pure_func(A)
print(A)
print(B)

['Jasmine', 'Lily', 'Rose', 'Lotus', 'Violet']
['Lily', 'Rose', 'Lotus']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#20cc9c;"> Boolean

In [90]:
a = 3
b = 0
c = 'A'
d = ''
e = [7]
f = []
g = True
h = False
i = None

print( a, '\t' , bool(a), '\t', b, '\t' , bool(b) )
print( c, '\t' , bool(c), '\t', d, '\t' , bool(d) )
print( e, '\t' , bool(e), '\t', f, '\t' , bool(f) )
print( g, '\t' , bool(g), '\t', h, '\t' , bool(h) )
print(    '\t' ,          '\t', i, '\t' , bool(i) )

3 	 True 	 0 	 False
A 	 True 	  	 False
[7] 	 True 	 [] 	 False
True 	 True 	 False 	 False
	 	 None 	 False

#  
<span style="font-family:Arial; font-weight:Bold; font-size:2.3em; color:#00b3e5;"> Python List
 - **Indexing** 
 - **Slicing**
 - **Conditioning**
 - **Changing Items**
 - **Adding Items**
 - **Removing Items**
 - **Iteration**
 - **Comprehension**
 - **Sort**
 - **Reverse**

In [91]:
x = list()
print( x )

[]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Indexing

In [95]:
x = [0,1,2,3,4,5,6,7]
x[0]

0

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Slicing

In [96]:
x = [0,1,2,3,4,5,6,7]
x[1:-2]

[1, 2, 3, 4, 5]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Conditioning

In [97]:
x = ['Europe','Asia','Australia']
if 'Asia' in x:
    print( 'Asia' )

Asia

In [112]:
x = ['Europe','Asia','Australia']
if 'Africa' not in x:
    print( 'Not Found' )

Not Found

In [113]:
x = ['Europe','Asia','Australia']
if not 'Africa' in x:
    print( 'Not Found' )

Not Found

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Changing

In [109]:
x = ['Europe','Asia','Australia']
x[1] = 'Africa'
x

['Europe', 'Africa', 'Austraia']

In [111]:
x = [0,1,2,3,4,5,6,7]
x[2:5] = [200,300,400]
x

[0, 1, 200, 300, 400, 5, 6, 7]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Inserting

In [98]:
x = ['Europe','Asia','Australia']
x.insert(1,'America')
x

['Europe', 'America', 'Asia', 'Austraia']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Removing

In [103]:
x = ['Europe', 'America', 'Asia', 'Australia','Europe']
x.remove('Europe')
x

['America', 'Asia', 'Austraia', 'Europe']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Extending

In [117]:
A = [ 1, 2, 3  ]
B = [ 'A', 'B' ]
A.extend(B)
A

[1, 2, 3, 'A', 'B']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Appending

In [104]:
x = ['Europe','Asia','Australia']
x.append('America')
x

['Europe', 'Asia', 'Austraia', 'America']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Popping

In [126]:
x = ['Europe', 'Asia', 'Australia', 'America']
print( x.pop() )
print( x.pop() )
x

America
Austraia

['Europe', 'Asia']

In [127]:
x = ['Europe', 'Asia', 'Australia', 'America']
print( x.pop(1) )
print( x.pop(1) )
x

Asia
Austraia

['Europe', 'America']

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Clearing

In [119]:
x = ['Europe', 'Asia', 'Australia', 'America']
x.clear()
x

[]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Deleting

In [122]:
x = ['Europe', 'Asia', 'Australia', 'America']
del x

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> Iteration

In [128]:
x = [ 'Asia', 'Australia' ]
for i in x:
    print(i)

Asia
Austraia

In [129]:
x = [ 'Asia', 'Australia' ]
for i in range(len(x)):
    print(x[i])

Asia
Austraia

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> comprehension

In [139]:
x = ['Europe', 'Asia', 'Australia', 'America']
y = list()
for item in x:
    if 's' in item:
        y.append(item)
y

['Asia', 'Australia']

In [138]:
x = ['Europe', 'Asia', 'Australia', 'America']
y = [ i for i in x if 's' in i ]
y

['Asia', 'Australia']

#####

In [140]:
x = [0,1,2,3,4,5,6,7]
y = 2*x
y

[0, 1, 2, 3, 4, 5, 6, 7, 0, 1, 2, 3, 4, 5, 6, 7]

In [141]:
x = [0,1,2,3,4,5,6,7]
y = list()
for i in x:
    y.append(2*i)
y

[0, 2, 4, 6, 8, 10, 12, 14]

In [134]:
x = [0,1,2,3,4,5,6,7]
y = [ 2*i for i in x ]
y

[0, 2, 4, 6, 8, 10, 12, 14]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> sort( reverse )

In [145]:
x = [3,0,5,2,7,1,1,3]
x.sort( reverse=True )
x

[7, 5, 3, 3, 2, 1, 1, 0]

<span style="font-family:Arial; font-weight:Bold; font-size:1.8em; color:#00b3e5;"> reverse

In [146]:
x = ['Europe', 'Asia', 'Australia', 'America']
x.reverse()
x

['America', 'Australia', 'Asia', 'Europe']

#####

#####