In [1]:
#pip install mysql

In [2]:
import mysql.connector

In [3]:
# Connecting To DataBase

MyDB = mysql.connector.connect(
    host     = "localhost",
    user     = "root",
    passwd   = "Amirr007++",
    #database = "amir"
    )

print(MyDB)

<mysql.connector.connection.MySQLConnection object at 0x000002580E5D8F10>

In [4]:
# Showing DataBases
MyCursor = MyDB.cursor()

MyCursor.execute( "Show Databases" )
for x in MyCursor: print(x)

('information_schema',)
('amir',)
('mysql',)
('test',)

In [5]:
# Using a DataBaseMy
Cursor = MyDB.cursor()

sql    = "USE Amir "
MyCursor.execute( sql )

In [6]:
# Creating A Table
MyCursor = MyDB.cursor()

sql = "CREATE TABLE PEIMON( \
         FNAME char(12),  \
         LNAME char(15),  \
         AGE   int,       \
         EXPERIENCE int   \
      )"
MyCursor.execute( sql )

MyCursor.execute("show tables") 
for x in MyCursor: print(x)

('employee',)
('employee2',)
('peimon',)

In [7]:
# Altering A Table
MyCursor = MyDB.cursor()

sql = "ALTER TABLE PEIMON \
         ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY"
MyCursor.execute( sql ) 

MyCursor.execute( "desc PEIMON" )
MyResult = MyCursor.fetchall()
for x in MyResult: print(x)

('FNAME', 'char(12)', 'YES', '', None, '')
('LNAME', 'char(15)', 'YES', '', None, '')
('AGE', 'int(11)', 'YES', '', None, '')
('EXPERIENCE', 'int(11)', 'YES', '', None, '')
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')

In [8]:
# Inserting One Record into A Table
MyCursor = MyDB.cursor()

sql = "INSERT INTO PEIMON \
        (FNAME, LNAME, AGE) \
        VALUES (%s,%s,%s)"
val = ('AA', 'CC', 25)

MyCursor.execute( sql, val )
MyDB.commit()

print(MyCursor.rowcount, "record inserted")

1 record inserted

In [9]:
# Inserting Many Records into A Table
MyCursor = MyDB.cursor()

sql = "INSERT INTO PEIMON \
        (FNAME, LNAME, AGE) \
        VALUES (%s,%s,%s)"
val = [
    ('ARA', 'FAF', 25 ),
    ('ABC', 'CGN', 16 ),
    ('BCB', 'RFD', 27 ),
    ('ARB', 'GAF', 19 ),
    ('ABD', 'DGN', 35 ),
    ('BCC', 'EFD', 17 )
      ]

MyCursor.executemany( sql, val )
MyDB.commit()

print(MyCursor.rowcount, "records inserted")

6 records inserted

In [19]:
# Selecting
MyCursor = MyDB.cursor()

sql_0 = "select * from Peimon "
sql_1 = "select * from Peimon  LIMIT 3 "
sql_2 = "select * from Peimon  where FNAME='AA' "
sql_3 = "select * from Peimon  where FNAME like '%A%' "
sql_4 = "select * from Peimon  order by FNAME ASC, LNAME DESC "
MyCursor.execute( sql_4 )

MyResult = MyCursor.fetchall()
for x in MyResult: print(x)

('AA', 'CC', 26, None, 1)
('ABC', 'CGN', 16, None, 3)
('ABD', 'DGN', 35, None, 6)
('ARA', 'FAF', 25, None, 2)
('ARB', 'GAF', 19, None, 5)
('BCB', 'RFD', 27, None, 4)
('BCC', 'EFD', 17, None, 7)

In [20]:
# Updating Records
MyCursor = MyDB.cursor()

sql = "UPDATE Peimon   SET AGE=26   WHERE FNAME='AA' " 
MyCursor.execute( sql )

In [21]:
# Dropping A Table
MyCursor = MyDB.cursor()

sql = "DROP TABLE Peimon " 
MyCursor.execute( sql )

sql = "SHOW TABLES"
MyCursor.execute( sql )
MyResult = MyCursor.fetchall()
for x in MyResult: print(x)

('employee',)
('employee2',)